
body {
  color: #fff;
  font-size: 14px;
  line-height: 1.6em;
  background: #0d1720;

}

body * {
  box-sizing: border-box;
  font-family: 'Quattrocento Sans', sans-serif;
}

p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.background {
  background: url(../demo/images/bg.jpg) no-repeat 50% 50%;
  background-size: cover;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .5;
}

/* .background:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0,0,0,.5);
  z-index: 1;
} */


header {
  padding: 80px 20px;
  background: rgba(13,23,32,.8);
  
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  
}

header h1 {
  font-size: 36px;
  color: #fff;
  letter-spacing: .25em;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
}

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

h2 {
  font-size: 22px;
  font-weight: normal;

}

.column {
  margin-bottom: 20px;
  float: left;
}

h2:first-of-type {
  margin-top: 0;
}

.sidebar-column {
  float: left;
}

.column-1 {
  width: 30%;
}

.column-3 {
  width: 25%;
}

.sidebar-column > div {
  background: rgba(13,23,32,.8);
  border: 1px solid rgba(255,255,255,.8);
  padding: 20px;
  box-sizing: border-box;
}

.primary-column {
  float: left;
  padding: 20px 20px 20px 20px;
  width: 45%;
  text-shadow: 1px 1px 0px rgba(0,0,0,.5);
  
}

.primary-column img, .sidebar-column img {
  max-width: 100%;
}




footer {
  clear: both;
  background: rgba(13,23,32,.8);
  padding: 80px 20px;
  text-align: center;
}

.center {
  text-align: center;
}

.block {
  display: block;
  white-space: normal;
}

.btn {
  display: inline-block;
  color: #fff;
  background: #1f7d93;
  padding: 6px 12px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 2px;
}

.btn:hover {
  text-decoration: none;
}

.hidden {
  display: none;
}

hr {
  border-style: none;
  border-top: 1px solid #fff;
}

code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 3px 5px;
  font-size: 90%;
  color: #0d1720;
  background-color: rgba(255,255,255,.6);
  white-space: nowrap;
  text-shadow: none;
  border-radius: 2px;
}