
@media (min-width: 768px) {
  .stickable-parent {
    min-height: 1px;
    position: relative;
  }

  .stickable-fixed {
    position: fixed;
    bottom: 0;
  }

  .stickable-fixed-top {
    position: fixed;
    top: 0;
  }


  .stickable-fixed-bottom {
    position: absolute;
    bottom: auto;
  }

  .stickable-wrapper {
    min-height: 5px;
  }
}
